*{
    margin: 0;
    padding: 0;
}
header.header{
    width: 100%;
    height: 186px;
    background: #020c15;
    position: relative;
    top: 0;
    box-sizing: border-box;
    display: block;
    font-family: "Franklin Gothic";
    min-width: 1200px;
}
.header .header-jr{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}
/*************ESTILO PARA EL ICONO DE LA PAGINA***************/
.header .header-jr .header-image{
    width: 24%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    padding: 30px 35px;
    position: relative;
    float: left;
}
.header .header-jr .header-image img{
    width: 100%;
    height: 100%;
}
/*************ESTILO PARA LA PARTE DE BUSQUEDA DEL HEADER***************/
.header .header-jr .header-search{
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    box-sizing: border-box;
}
.header .header-jr .header-search .header-search-title, .header-search-nav{
    width: 100%;
    height: 33%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    color: white;
}
.header .header-jr .header-search .header-search-select{
    width: 100%;
    height: 34%;
    display: block;
    box-sizing: border-box;
}
    .header .header-jr .header-search .header-search-nav nav{
    width: 100%;
    background: #525051;
    padding: 10px 10px;
    box-sizing: border-box;
}
header .header-jr .header-search .header-search-nav nav ul{
    width: 100%;
    overflow: hidden;
    list-style: none;
    display: block;
    box-sizing: border-box;
    align-content: center;
}
header .header-jr .header-search .header-search-nav nav ul li{
    width: 20%;
    font-size: 12px;
    display: block;
    position: relative;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 0;
}
.header .header-jr .header-search .header-search-nav nav ul li:hover{
    background: #3abed7;
}
/********************ESTILO PARA EL SELECT**********************/
.header .header-jr .header-search .header-search-select{
    width: 100%;
    height: 34%;
    box-sizing: border-box;
    display: flex;
    padding: 0px 120px 18px 10px;
    border-radius: 5px 5px 5px 5px;
}
.header .header-jr .header-search .header-search-select form{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    background: white;  
    border-radius: 5px 5px 5px 5px;
}
.header .header-jr .header-search .header-search-select form select{
    height: 100%;
    width: 40%;
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    box-sizing: border-box;
}
.header .header-jr .header-search .header-search-select form button{
    width: 28%;
    height: 100%;
    border-style: none;
    float: right;
    box-sizing: border-box;
    color: white;
    background: #3abed7;
    border-radius: 0px 5px 5px 0px;
}
.header .header-jr .header-search .header-search-select form span{
    height: 70%;
    margin: 5px 0px 5px 0px;
    width: 0;
    border: 1px solid rgba(0,0,0,.2);
    position: relative;
}
/****************PARA EL LOGIN Y EL PUBLICAR PROPIEDAD***********************/
.header .header-jr .publicity,.login{
    width: 13%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    display: block;
    padding-top: 60px;
}
.header .header-jr .publicity{
    color: white;
    font-weight: 100;
}
.header .header-jr .login a{
    color: #3abed7;
}
.header .header-jr .login i{
    background: #3abed7;
    color: black;
    box-sizing: border-box;
    padding: 2px 2px;
    border-radius: 7px 7px 7px 7px;
    margin-right: 3px;
}